@model Autobase.Models.EntityViewModels.IndexCarViewModel

@{
    ViewBag.Title = "Подробности о машине";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatingAccommodation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatingAccommodation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBusy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBusy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsIntegral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsIntegral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Назад", "Index")
</p>
