@model IEnumerable<Autobase.Models.EntityViewModels.IndexRouteViewModel>
@using BBL;


@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
<script src="~/Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Рейсы";
    string actionLinkTextCreateRoute = Roles.IsUserInRole("Driver") ? "Заказать рейс" : "Создать рейс";
}

<h2>Рейсы</h2>

<p>
    @Html.ActionLink(actionLinkTextCreateRoute, "Create")
</p>

<div class="dropdown right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-sort" style="margin-right: 7px"></i>Сортировать по:<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">

        <li>@Ajax.ActionLink("По номеру рейса (по возрастанию)", "Sort", "Route", new { sortId = Convert.ToInt32(SortRoute.RouteIdAsc) }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })</li>
        <li>@Ajax.ActionLink("По номеру рейса (по убыванию)", "Sort", "Route", new { sortId = Convert.ToInt32(SortRoute.RouteIdDesc) }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })</li>

        <li class="divider"></li>

        <li> @Ajax.ActionLink("По дате создания (по возрастанию)", "Sort", "Route", new { sortId = Convert.ToInt32(SortRoute.CreatingDateAsc) }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })</li>
        <li> @Ajax.ActionLink("По дате создания (по убыванию)", "Sort", "Route", new { sortId = Convert.ToInt32(SortRoute.CreatingDateDesc) }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })</li>

        <li class="divider"></li>

        <li> @Ajax.ActionLink("По статусу", "Sort", "Route", new { sortId = Convert.ToInt32(SortRoute.Status) }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })</li>

    </ul>
</div>
<div class="result">

    @Html.Partial("~/Views/Route/Sort.cshtml", Model)
</div>