@model IEnumerable<Autobase.Models.EntityViewModels.IndexRouteViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteStatusName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.RouteId
            </td>
            <td>
                @String.Format("{0}/{1}/{2}", item.CreatingDate.Month, item.CreatingDate.Day, item.CreatingDate.Year)
            </td>
            <td>
                @item.Direction
            </td>
            <td>
                @item.CarName
            </td>
            <td>
                @item.CarNumber
            </td>
            <td>
                @item.DepartureDate
            </td>
            <td>
                @item.ArrivalDate
            </td>
            <td>
                @item.DriverName
            </td>
            <td>
                @item.RouteStatusName
            </td>

            <td>
                @if (Roles.IsUserInRole("Manager") || Roles.IsUserInRole("Admin"))
                {
                    if (item.RouteStatusName.Contains("подтвер"))
                    {
                        @Html.ActionLink("Подтвердить", "ConfirmRoute", new { id = item.RouteId }, new { @class = "attention-text" }) <span> | </span>
                    }
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.RouteId }) <span> | </span>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.RouteId }) <span> | </span>
                }
                else
                {
                    if (!item.RouteStatusName.Contains("Выполняетс"))
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.RouteId }) <span> | </span>
                    }
                    if (!item.RouteStatusName.Contains("подтверж"))
                    {
                        @Html.ActionLink("Сменить состояние рейса и машины", "ChangeRouteStatus", new { id = item.RouteId }) <span> | </span>
                    }
                }
                @Html.ActionLink("Подробнее", "Details", new { id = item.RouteId })
            </td>
        </tr>
    }

</table>